.grid-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
  font-size: 96px;
  padding-bottom: 0;
  margin-bottom: 10%;
}

ul {
  list-style: none;
  padding: 0;
}

.section-container {
  padding-left: 25px;
  padding-right: 25px;
}

#heading-caption {
  font-size: larger;
}

#header {
  /* Span all the columns from col 1 to the end */
  grid-column: 1 / -1;
  background-color: aliceblue;
}

#bio {
  grid-column: span 3;
}

#Education {
  grid-column: span 2;
}

#Experience {
  grid-column: span 2;
}

#Skills {
  grid-column: 1 / -1;
}

#Projects {
  grid-column: 1 / -1;
}

#Contact {
  grid-column: 1 / -1;
}

.flex-col-heading {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.flex-space-bw {
  display: flex;
  justify-content: space-between;
}

.skills-container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-header {
  grid-column: 1 / -1;
}

.skills-div {
  padding-right: 15px;
}

.no-margin {
  margin: 0;
}
