.grid-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
  font-size: 96px;
  padding-bottom: 0;
  margin-bottom: 10%;
}

#heading-caption {
  font-size: larger;
}

#header {
  grid-column: 1 / -1;
}

#bio {
  grid-column: span 3;
}

.flex-col-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
